body {
  text-align: center;
  background: linear-gradient(to left, #e3e7ff, #b8edfd);
  font-size: 16px;
}
/* main box */
.todo-box {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin: 20px auto;
  padding: 20px;
  min-width: 280px;
  max-width: 400px;
}
/* todo input form */
.todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* todo form input and button */
.todo-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #1ab94f;
  font-size: 1.2rem;
}
.todo-form button {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #1ab94f;
  background: linear-gradient(to left, #21d85e, #1ab94f);
  color: white;
  cursor: pointer;
  outline: none;
}
.todo-list-container {
  padding-left: 0;
  margin-top: 10px;
  max-height: 500px;
  overflow: auto;
}
.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #b8edfd;
  padding: 10px;
  margin: 1px 0;
  color: rgb(82, 82, 82);
  font-weight: bold;
}
.todo-list-item p {
  margin: 0;
}
